.gallery-item-container {
    display: inline-block;
    position: relative;
}

.gallery-item {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.container {
    
    width: 300%; /* Adjust based on the number of items */
}

.col {
    flex: 0 0 33.33%; /* Adjust based on the number of items */
}